/* Set the background color of the entire body, height to full viewport height, 
   center content vertically and horizontally, remove default margin, and set font */
body {
  background-color: navajowhite;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin: 0;
  align-items: center;
  font-family: cursive;
}

/* Style the calendar container with background color, dimensions, border radius,
     center text, box shadow for depth effect, and hide overflow */
.calender-container {
  background-color: white;
  height: 300px;
  width: 300px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

/* Style the month name with background color, text color, font size, weight, 
     and padding for spacing */
.month-name {
  margin: 0;
  background-color: chocolate;
  color: bisque;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}

/* Style the day name with text color and font size */
.day-name {
  color: darkgray;
  font-size: 20px;
}

/* Style the day number with text color, font size, margin, and weight */
.day-number {
  color: darkgray;
  font-size: 80px;
  margin: 0;
  font-weight: bold;
}

/* Style the year with text color, font size, margin for spacing, and font weight */
.year {
  color: darkgray;
  font-size: 20px;
  margin: 20px 0;
  font-weight: 500;
}
